// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";
@import "../pages/login/login";
@import "../pages/cotizador/cotizador";

$colorMenuToggle: #f80000;
$toolbar-background: #fff;
$azul_emer: #003D73;
$rojo_emer: #f80000;
.bar-button-default{
	color: $rojo_emer;
}
.toolbar-background{
	background: $toolbar-background;
	border-bottom: 3px solid $azul_emer;
}
.toolbar{
	text-align:center;
	border-bottom: 3px solid $rojo_emer;
	box-shadow:none;

}
