.slides {

}
.scroll-content{
	margin-top: 0px;
}
ion-slide {
  align-items: flex-start !important;
}

.cont_footer{
	position:absolute;
	bottom:30px;
	text-align:center;
	margin-top: 50px;
	p{
		text-align:center;
		font-size: 12px;
	}
}
